<h1 style="font-size: 18px; margin: 10px; color: blue;">Как нас найти?</h1>

<div style="font-size: 14px; margin: 10px; width: 650px;">
  Мы находимся по адресу  проспект Орджоникидзе, 14,<br>
  И работаем без выходных с 10:00 до 21:00
</div>
<% image_tag("map_1.png", size: "700x350")  %>

<h1 style="font-size: 18px; margin: 10px; color: blue;">Как с нами связаться?</h1>
<div style="font-size: 14px; margin: 10px; width: 650px;">
  Наш телефон: +7-950-546-20-85<br>
  Наш e-mail: info@jollytail.ru<br>
  Наш Viber:  +7-950-546-20-85<br>
  Наш WhatsApp: +7-950-546-20-85<br>
</div>
<br>
<h1 style="font-size: 18px; margin: 10px; color: blue;">Данные предприятия:</h1>
<div style="font-size: 14px; margin: 10px; width: 650px;">
  ИНН:660406876393<br>
  ОГРНИП:319665800075280<br>
  Фактический адрес: г. Екатеринбург, проспект Орджоникидзе, 14<br>
  Юридический адрес: г. Березовский, пер.Рудничный, 5<br>
  Расчетный счет: 40802810502500051203<br>
  в филиале Точка ПАО Банка "Финансовая Корпорация Открытие"<br>
  БИК: 044525999<br>
  Корр.счёт:30101810845250000999
</div>

<script>
  $("#about_main").css({background: "-webkit-linear-gradient(white 0%, green 100%)",
                                  background: "-moz-linear-gradient(white 0%, green 100%)",
                                  background: "-o-linear-gradient(white 0%, green 100%)",
                                  background: "linear-gradient(white 0%, green 100%)"});
</script>
