<div style="font-size: 14px; margin: 10px; width: 650px;"><%= Site.first.delivery.html_safe %></div>

<script>
  $("#logist_main").css({background: "-webkit-linear-gradient(white 0%, green 100%)",
                                  background: "-moz-linear-gradient(white 0%, green 100%)",
                                  background: "-o-linear-gradient(white 0%, green 100%)",
                                  background: "linear-gradient(white 0%, green 100%)"});
</script>
