<h1 style="font-size: 18px; margin: 10px; color: blue;">Возврат товара</h1>


<div style="font-size: 14px; margin: 10px; width: 650px;">
Покупатель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение 30 дней или всего гарантийного срока. <br/>  
Возврат оформляется по адресу г.Екатеринбург, пр.Орджоникидзе, 14. <br/>
Возвраты товаров регулируются законом №2300-I «О защите прав потребителей» и Правилами продажи отдельных видов товаров, утвержденными Правительством РФ постановлением от 19.01.1998 №55 и Гражданским кодексом России. 
</div>

<h1 style="font-size: 18px; margin: 10px; color: blue;">У нас предусмотрены дополнительные возможности возврата:</h1>
<div style="font-size: 14px; margin: 10px; width: 650px;">
   Если вы возвращаете товар надлежащего качества, то право на возврат товара без брака и повреждения сохраняется при следующих условиях: 
</div>

<div style="font-size: 14px; margin: 10px; width: 650px;">
- с момента приобретения не прошло больше 30 дней <br/>
- товар не использовали, у него сохранен товарный вид, потребительские свойства, ярлыки, имеется товарный или кассовый чек или любой другой документ, который подтверждает оплату этого товара. <br/>
- если данный товар не включен в списки товаров, которые не подлежат обмену и возврату (список утвержден постановлением Правительства РФ РФ от 19.01.1998 N 55) 
</div>

<div style="font-size: 14px; margin: 10px; width: 650px;">
   Если вы возвращаете товары ненадлежащего качества:<br/>
Если в своем заказе вы обнаружили брак, повреждение или другие признаки ненадлежащего качества, мы в любом случае вернее вам уплаченные деньги и если потребуется, проведем проверку качества товара. <br/>
Период для возврата товаров ненадлежащего качества вы можете узнать у продавца-консультанта при покупке (он зависит от вида товара). 
Для таких товаров, как амуниция, лежанки, одежда, автонакидки, клетки, переноски и т.д. гарантированный срок использования равен 6 месяцам. 
</div>


<div style="font-size: 14px; margin: 10px; width: 650px;">
   Получение денег при возврате:<br/>
При отказе покупателя от товара зоомагазин возвращает уплаченную сумму (за исключением расходов на доставку) в день обращения. Исключение могут составлять случаи, когда требуется экспертиза товара. Тогда срок возврата денег может быть увеличен до 10 дней. Важно – для получения денег при возврате надо иметь с собой паспорт. 
</div>

<div style="font-size: 14px; margin: 10px; width: 650px;">
   Список товаров, не подлежащих обмену и возврату: 
</div>
<div style="font-size: 14px; margin: 10px; width: 650px;">
- замороженное мясо и мясопродукты, <br/>
- доброкачественные корма, витамины, косметика и лакомства, во вскрытых упаковках, <br/>
- доброкачественные товары, имеющие индивидуально-определенные качества (привезены под заказ или продаются на отрез) <br/>
- Так же обратите внимание, что расходные материалы (батарейки, пеленки, салфетки, игрушки, ножи для машинок и.т.д.) не имеют гарантийного срока, если это не оговорено отдельно.
</div>