<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Та дам! Нам пришла заявка, проверьте админку кто-нибудь.</h1>
  </body>
</html>
