<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Эге-гей! Нам пришел быстрый заказ, проверьте админку кто-нибудь.</h1>
    <h2>Но если что, то он на товар: <%= @product_name %>, фасовки <%= @current_fas %></h2>
    <h2>А телефон там: <%= @phone %></h2>
  </body>
</html>
